/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 3.5rem;
  --nav1-width: 219px;

  /*========== Colors ==========*/
  --first-color: #608BC1;
  --first-color-light: #ffffff;
  --title-color: #1B1A17;
  --text-color: #352525;
  --text-color-light: #133E87;
  --container-color: #CBDCEB;
  --card-color: #F3F3E0;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --large-font-size: .1200rem;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --large-font-size: 1.6rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

.card-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 20px;
    height: 280px;
    background-color: var(--card-color);
}

.card-1 > article > h1 {
    color: #a16600;
    font-size: var(--large-font-size);
    margin: 0;
}

/*carousel*/
.pic-car > img {
    width: 180px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 1px rgb(137, 90, 78);
    cursor: pointer;
}

.pic-car > img:hover {
    transform: scale(1.1);
    transition: 0.3s;
    border-radius: 0;
}
/* carousel */

/* search */
.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    background-color: #fce3be;
    border-radius: 20px;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.search > form > input {
    background-color: white;
    border: 2px solid rgb(181, 120, 5);
    border-radius: 10px;
    width: 200px;
    height: 40px;
}

.search > form > input:hover {
    background-color: var(--container-color);
}

.search > form > svg {
    width: 20px;
    margin-left: 20px;
}
/* search */

/* product */
.title-product{
  position: relative;
  margin: 0 2.5rem;
  margin-top: 30px;
}

.card-2-img > img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.grid-body{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  max-width: 1200px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  align-items: center;
  gap: 2rem;
  padding: 20px;
}

.card-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px 20px 50px 10px;
  box-shadow: 0 .5rem 1rem #fce3be;
}

.card-2-img {
  width: 300px;
  height: 100px;  
  transition: 0.5s;
}

.card-2-name {
  position: absolute;
  left: -25%;
  top: 0;
  width: 50px;
  height: 100%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  background-color: var(--first-color);
  color: var(--first-color-light);
  font-weight: var(--font-semi-bold);
  transition: 0.5s;
}

.card-2-icon{
  font-size: 2rem;
  color: white;
}

.card-2-icon:hover{
  color: var(--first-color);
}

.card-2-precis{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: .5s;
}

.card-2-preci{
  display: block;
  text-align: center;
}

.card-2-preci--before{
  font-size: var(--smaller-font-size);
  color: var(--accent-color);
  margin-bottom: .25rem;
}

.card-2-preci--now{
  font-size: var(--h3-font-size);
  font-weight: bold;
}

.card-2:hover{
  box-shadow: 0 .5rem 1rem #a16600;
  transition: 0.5s;
}

.card-2:hover .card-2-name{
  left: 0;
}

.card-2:hover .card-2-img{
  transform: scale(1.1);
}

.card-2:hover .card-2-precis{
  margin-left: 3.5rem;
  padding: 0 1.5rem;
}
/* product */

/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  padding: 1rem 1rem 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*========== HEADER ==========*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  padding: 0 1rem;
  z-index: var(--z-fixed);
}

.header__container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
}

.header__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: none;
}

.header__search {
  display: flex;
  padding: .40rem .75rem;
  background-color: var(--first-color-light);
  border-radius: .25rem;
}

.header__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--first-color-light);
}

.header__input::placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__icon, 
.header__toggle {
  font-size: 1.2rem;
}

.header__toggle {
  color: var(--title-color);
  cursor: pointer;
}

/*========== nav1 ==========*/
.nav1 {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: var(--container-color);
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav1__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none; /* For mozilla */
}

/* For Google Chrome and others */
.nav1__container::-webkit-scrollbar {
  display: none;
}

.nav1__logo {
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.nav1__list, 
.nav1__items {
  display: grid;
}

.nav1__list {
  row-gap: 2.5rem;
}

.nav1__items {
  row-gap: 1.5rem;
}

.nav1__subtitle {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--text-color-light);
}

.nav1__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.nav1__link:hover {
  color: var(--first-color);
}

.nav1__icon {
  font-size: 1.2rem;
  margin-right: .5rem;
}

.nav1__name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
}

.nav1__logout {
  margin-top: 5rem;
}

/* Dropdown */
.nav1__dropdown {
  overflow: hidden;
  max-height: 21px;
  transition: .4s ease-in-out;
}

.nav1__dropdown-collapse {
  background-color: var(--first-color-light);
  border-radius: .25rem;
  margin-top: 1rem;
}

.nav1__dropdown-content {
  display: grid;
  row-gap: .5rem;
  padding: .75rem 2.5rem .75rem 1.8rem;
}

.nav1__dropdown-item {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.nav1__dropdown-item:hover {
  color: var(--first-color);
}

.nav1__dropdown-icon {
  margin-left: auto;
  transition: .4s;
}

/* Show dropdown collapse */
.nav1__dropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.nav1__dropdown:hover .nav1__dropdown-icon {
  transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
  left: 0;
}

/*===== Active link =====*/
.active {
  color: var(--first-color);
}

/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/
@media screen and (max-width: 320px) {
  .header__search {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 1rem 3rem 0 6rem;
  }
  .header {
    padding: 0 3rem 0 6rem;
  }
  .header__container {
    height: calc(var(--header-height) + .5rem);
  }
  .header__search {
    width: 300px;
    padding: .55rem .75rem;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    display: block;
  }
  .header__img {
    width: 40px;
    height: 40px;
    order: 1;
  }
  .nav1 {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    width: 68px; /* Reduced nav1bar */
  }
  .nav1__items {
    row-gap: 1.7rem;
  }
  .nav1__icon {
    font-size: 1.3rem;
  }

  /* Element opacity */
  .nav1__logo-name, 
  .nav1__name, 
  .nav1__subtitle, 
  .nav1__dropdown-icon {
    opacity: 0;
    transition: 0.3s;
  }
  
  
  /* nav1bar expanded */
  .nav1:hover {
    width: var(--nav1-width);
  }
  
  /* Visible elements */
  .nav1:hover .nav1__logo-name {
    opacity: 1;
  }
  .nav1:hover .nav1__subtitle {
    opacity: 1;
  }
  .nav1:hover .nav1__name {
    opacity: 1;
  }
  .nav1:hover .nav1__dropdown-icon {
    opacity: 1;
  }
}

/* footer */
footer {
    background-color: rgb(72, 61, 46);
    padding: 80px;
    margin-top: 30px;
    border-radius: 200% 20px 0px 0px;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.footer-contents1 {
    background-color: var(--card-color);
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    box-shadow: 20px 20px 0px 0px var(--body-color);
}

.footer-contents1 > div > h1 {
    color: var(--first-color);
}

.footer-contents1 > p {
    color: var(--text-color);
}

.footer-contents h4 {
    font-size: 20px;
    color: var(--first-color-light);
}

.footer-contents p{
    margin: 20px 50px 20px 0px;
}

.footer-contents li {
    margin: 20px 50px 20px 0px;
    text-decoration: none;
    display: block;

}

.footer-contents a {
    text-decoration: none;
    color: white;
    text-align: center;
}

/* footer */